@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face{
    font-family: "DogSmoke"; 
    src: url("Fonts/DogsmokeIi-RjLE.ttf") ;
    font-weight: normal;
    font-style: normal;
   
}

*{
    box-sizing :border-box ;
     font-family:Roboto Mono,monospace ; 
    color:#e9e9f1;
}
html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav a{
    display: inline;
    padding: 0.6em ;
    color: azure;
    text-decoration: none;
    font-size: large;
    font-family: Roboto Mono,monospace;
}
.nav a:hover{
    color:rgba(235, 104, 29, 0.829);
}
.main-nav{
    text-align:start;
    font-size: 1.1em;
    font-weight: lighter;
    display: inline;
}
.main-nav li{
    padding: 0 3%;
}
.nav li{
    display: inline;
    padding: 0;
    }
    .nav div{
        display: inline;
        padding: 0;
       
       text-align: start; 
    }
    .nav span{
        text-align: center;
        padding: 22em;
    }



.main-header{
    background-color:#101316;
   
    
    
    background-size: cover;
    padding-bottom: 10px;
    border-bottom:1px solid #101316;
}
body{
    background-color:#14181c;
    background-image: url(Images/cover.png);
    background-blend-mode:lighten;
    
background-size:cover;


}
.main-footer ul{
    background-color: rgb(3, 3, 56);
    margin: 0;
    padding: 0;
    color: white;

}

.blogname{
    text-align:start;
    margin: 0 0;
    font-size: 2.5em;
    font-family: 'DogSmoke';
    font-weight: normal;
    color: violet;

}
.content-section{
    margin: 1em;
}
.container{
    max-width: 900px;
    margin: 0 0em auto;
    padding: 0 1.5em;
}
.padding {
    padding: 2em;
}
.section-header{

    font-size: 1.5em;
    font-family: Roboto Mono;
    font-weight: bold;
    font-style: normal;
    margin: 0;

}
.color button{
    background-color:#101316;
}
.inliner div{
    display: inline;
}